/all-in-one-seo-pack/
/all-in-one-wp-migration/
/amp/
/classic-editor/
/disable-gutenberg/
/elementor/
/google-analytics-for-wordpress/
/jetpack/
/redux-framework/
/simple-tags/
/wordpress-importer/
/wordpress-seo/
/wp-mail-smtp/
